{% extends 'portfolio/base.html' %}

{% block content %}
<section class="jumbotron text-center">
        <div class="container">
           <img class="rounded-circle"src="static/portfolio/img/foto_pessoal.jpg"
                height="160" width="160">
          <h3 class="jumbotron-heading">Marcos Venicios E. Chaves</h3>
            <h6 class="jumbotron-heading">Bach. em Ciências da Computação</h6>
            <h7 class="jumbotron-heading">Python/Django Developer</h7>
          <p class="lead text-muted"> Desenvolver apaixonado por tecnologias relacionadas ao Desenvolvimeto Web. </p>
          <p>
            <a href="static/portfolio/files/curriculum.pdf" class="btn btn-primary my-2">Download Curriculum</a>
          </p>
          	 <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a> -->

      <!-- Google
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>-->

      <!-- Instagram -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/in/marcos-venicios-chaves-21025273/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/markusvynycyus" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
		  </div>
        </div>
 </section>

<div class="album py-5 bg-light">
        <div class="container">
         <h4 class="jumbotron-heading"> Principais Projetos</h4>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                     alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                     src="static/portfolio/img/tela-blog.png" data-holder-rendered="true">
                <div class="card-body">
                  <h4 class="jumbotron-heading"> Blog de Notícias</h4>
                  <p class="card-text">Site desenvolvido para publicações de notícias.</p>
                  <h6 class="jumbotron-heading">Características:</h6>
                  <ul>
                    <li> Área Administrativa.</li>
                    <li> Compartilhamento de postagens via e-mail.</li>
                    <li> Adição de Comentários em uma postagem.</li>
                    <li> Marcação de Postagens com Tags.</li>
                    <li> Recomendação de Postagens Similares.</li>
                  </ul>
                  <h6 class="jumbotron-heading">Tecnologias usadas:</h6>
                  <ul>
                    <li> Python e Django</li>
                    <li> JavaScript | Html e Css</li>
                    <li> PostgreSql e Heroku</li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href=" https://blog-venicios.herokuapp.com/blog">
                        <button type="button" class="btn btn-sm btn-outline-success">Projeto</button></a>
                      <a href="https://github.com/markusvynycyus/Blog-de-Noticias">
                        <button type="button" class="btn btn-sm btn-outline-primary">Código GitHub</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17898d1445b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17898d1445b%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.9453125%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <h4 class="jumbotron-heading">Web Site Social</h4>
                  <p class="card-text">Aplicação desenvolvida para que os usuários participem de uma plataforma on-line
                    interagindo uns com os outros compartilhando contéudo.</p>
                  <h6 class="jumbotron-heading">Características:</h6>
                  <ul>
                    <li> Área Administrativa.</li>
                    <li> Sistema de Registro e Autenticação de Usuários.</li>
                    <li> Autenticação por meio das Redes Sociais.</li>
                    <li> Perfil Personalizado para cada Usuário.</li>
                    <li> Fluxo de Atividades dos Usuários.</li>
                    <li> Compartilhamento de Imagens de Outros Sites.</li>
                    <li> Fluxo de Atividades dos Usuários.</li>
                  </ul>
                  <h6 class="jumbotron-heading">Tecnologias usadas:</h6>
                  <ul>
                    <li> Python e Django</li>
                    <li> JavaScript | Html e Css</li>
                    <li> PostgreSql | Heroku</li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://marcos-website-social.herokuapp.com/">
                        <button type="button" class="btn btn-sm btn-outline-success">Projeto</button></a>
                      <a href="https://github.com/markusvynycyus/social-website">
                        <button type="button" class="btn btn-sm btn-outline-primary">Código GitHub</button></a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                     alt="Thumbnail [100%x225]"
                     src="static/portfolio/img/tela-lojavirtual.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <h4 class="jumbotron-heading">Loja Online</h4>
                  <p class="card-text">Plataforma de e-commerce com as funcionalidades essencias.</p>
                  <h6 class="jumbotron-heading">Características:</h6>
                  <ul>
                    <li> Área Administrativa.</li>
                    <li> Autenticação de Usuários.</li>
                    <li> Localizar e Adicionar Produtos.</li>
                    <li> Carrinho de Compras.</li>
                    <li> Aplicar Códigos de Desconto.</li>
                    <li> Realizar e Finalizar processo de Compra.</li>
                    <li> Pagamento com Cartão de Crédito.</li>
                    <li> Obter Faturas.</li>
                    <li> Recomendar produtos aos seus clientes.</li>
                    <li> Sistema de Internacionalização, ou seja, site em vários idiomas.</li>
                  </ul>
                  <h6 class="jumbotron-heading">Teconologias usadas:</h6>
                  <ul>
                    <li> Python e Django</li>
                    <li> JavaScript | Html e Css</li>
                    <li> Heroku</li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                     <a href="#"><button type="button" class="btn btn-sm btn-outline-success">Projeto</button></a>
                      <a href="#"><button type="button" class="btn btn-sm btn-outline-primary">Código GitHub</button></a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>






{% endblock %}
