{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a class="navbar-brand" href="{% url 'home'%}">
    <img src="{% static 'portfolio/img/icon6.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

         <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'home'%}">home</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'portfolio'%}">projetos</a>
          </li>

      </ul>

        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre'%}">sobre</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'contact'%}">contato</a>
          </li>
      </ul>
   </ul>
  </div>
</nav>