{% extends 'portfolio/base.html' %}
<!--Extended base html file-->

{% block content %}
    	<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Portfólio</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Portfólio</h5>
					<p class="card-text">Projeto desenvolvido usando a Linguaguem de Programação Python juntamente
						com o Framework Django,com o objetivo  listar os trabalhos profissionais de um Desenvolvedor Web.</p>
					  <p> Portfolio online deve ser atualizado assim que um novo projeto/sistema estiver sendo contruído.</p>
					<a href="https://portfolio-venicios.herokuapp.com" class="btn btn-warning">Link do Projeto no Heroku</a>
					<a href="https://github.com/markusvynycyus/portfolio" class="btn btn-warning">Link do Projeto no GitHub</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title"> Blog de Notícias</h5>
					<p class="card-text">Blog de Notícias, com várias funcionalidades implementado em Python/Django.</br>
					1 - Área Administrativa para o usuário postar e maninupular suas notícias.</br>
					2 - Compartilhamento de postagens via email.</br>
					3 -Adição de comentários em uma postagem.</br>
					4 - Marcação de Postagens com Tags.</br>
					5 - Recomendação de Postagens Similares.</br>
					<a href="https://blog-venicios.herokuapp.com/blog/" class="btn btn-warning">Link do Projeto no Heroku</a>
					<a href="https://github.com/markusvynycyus/Blog-de-Noticias" class="btn btn-warning">Link do Projeto no GitHub</a>

				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 3</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-warning">Link do Projeto no Heroku</a>
					<a href="#" class="btn btn-warning">Link do Projeto no GitHub</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 4</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-warning">Link do Projeto no Heroku</a>
					<a href="#" class="btn btn-warning">Link do Projeto no GitHub</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>

	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1">
			<p class="lead">I'm a Web Developer working on Python 3.x, Using Django 2.1 for Web Development. Previously worked as Php Developer for 1.5 years </p>
		  </div>
		  <div class="col-lg-4 mr-auto about-2">
			<p class="lead">Also having knowledge of HTML, CSS, Javascript, Ajax, Bootstrap, GIT.  </p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" href="/static/portfolio/files/curriculum.pdf" download>
			<i class="fas fa-download mr-2"></i>
			Download Curriculum
		  </a>
		</div>
	  </div>
	</section>

{% endblock %}