{% extends 'portfolio/base.html' %}
<!--extended the base html file-->

<!--adding content-->
{% block content %}
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h4 class="jumbotron-heading">Formação Acadêmica</h4>
                  <ul>
                    <li> Bacharelado em Ciências da Computacão - UESPI</li>
                  </ul>
          <h4 class="jumbotron-heading"> Experiência Profissional</h4>
                  <ul>
                    <li> Professor Pronatec / Técnico em Informática </br>
                         Disciplina : Segurança da Informação</br>
                         Carga Horária : 60 hrs/aula
                    </li></br>

                    <li> Professor Pronatec / Técnico em Informática      </br>
                         Disciplina : Bancos de Dados I</br>
                         Carga Horária :60 hrs/aula
                    </li></br>

                    <li> Professor Pronatec </br>
                         Disciplina : Bancos de Dados II</br>
                         Carga Horária :60 hrs/aula
                    </li></br>

                    <li> Professor da Fundaçao Wall Ferraz - Teresina – PI</br>
                         Disciplina :Programação para APP ANDROID</br>
                         Carga Horária : 60h
                    </li></br>
                       <li>Professor Senac – PI</br>
                         Disciplina : Professor de JavaScript e Jquery</br>
                         Carga Horária : 50h
                    </li></br>
                       <li>Professor Senac – PI</br>
                         Disciplina :Programação WEB com PHP</br>
                         Carga Horária : 40h
                    </li>
                  </ul>
        </div>

      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h4 class="jumbotron-heading">Cursos / Capacitação</h4>
                  <ul>
                       <li> Curso : Curso de Python 3 do Básico ao Avançado (com projetos reais) .</br>
                        Instituição : Udemy</br>
                        Carga Horária : 86,5 h</br>

                    </li></br>
                    <li> Curso :Construção de E-Commerce com Python 3 e Django.</br>
                        Instituição : Udemy</br>
                        Carga Horária : 16,5 h</br>

                    </li></br>

                    <li> Curso : Desenvolvimento Web 2.0 – Python/Django.</br>
                         Instituição : Udemy</br>
                         Carga Horária : 32 h

                    </li></br>

                    <li>Curso :Programação Web com Django Framework - do Básico ao Avançado.</br>
                        Instituição : Geek University & Udemy</br>
                        Carga Horária : 35h

                    </li></br>

                    <li> Curso :Django 2.0 Avançado, 100+ aulas domine framework like a boss.</br>
                         Instituição : Udemy</br>
                         Carga Horária : 18h
                    </li></br>
                       <li>Curso: Criando poderosas API´s RESTful com Django Rest Framework.</br>
                         Disciplina : Udemy</br>
                         Carga Horária : 7h
                    </li></br>
                       <li>Curso : Curso Completo de PostgreSQL ! Do Básico ao Avançado !</br>
                          Instituição : Udemy</br>
                          Carga Horária : 18,5h
                    </li>
                  </ul>
        </div>
      </div>
{% endblock %}